@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,latin-ext,vietnamese');

*{
    margin: 0;
    padding: 0;
}

header{
    width: 95%;
    margin: auto;
    margin: 60px;
    overflow: hidden;
    
}
.logo{
    width: 20%;
    float: left;

}
.menu{
    width: 50%;
    float: right;

}
.menu ul{
    list-style: none;
    float: right;

}
.menu ul li{
    float: left;

}
.menu ul li a{
    margin-left: 50px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #626262;
    font-family: 'Playfair Display', serif;
    
}
.banner{
    width: 95%;
    margin: auto;
}
.banner img{
    width: 100%;
}
.content{
    width: 80%;
    margin: auto;
    margin-top: 100px;

}
.content span{
    font-size: 16px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;

}

.content h1{
    color: #626262;
    margin-bottom: 30px;
    font-size: 40px;
}
.content p{
    color: #626262;
    line-height: 1.5;
    margin-bottom: 15px;
    
}